@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//text styles
$family : 'Roboto', sans-serif;
$size_reg: 14px;
$size_caption: 12px;
$weight_regular: 400;
$weight_bold: 700;
$col_black: #111;
$col_light_grey: #8e8e8e;
//UI
$col_seperator: #efefef;
$col_grey_accent: #fafafa;
$col_accent: #63a2ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $family;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 60%;
    background: white;
    border-radius: 6px;
    box-shadow: 0 64px 64px rgba(0,0,0,0.12),
    0 64px 88px rgba(0,0,0,0.32);
}

input[type=text]{
    font: {
        size: $size_reg;
        weight: $weight_regular;
    }
    border-radius: 6px 6px 0 0;
    padding: 16px;
    border: 0;
    &:focus{
        caret-color: $col_accent;
        outline: none;
    }
}

.divider{
    background:$col_seperator;
    height: 1px;
    width: 100%;
    &.extended{
    height: 4px;
    }
}

.label{
    font: {
        size: $size_caption;
        weight: $weight_bold;
    }
    padding: 12px 0 12px 16px;
    color: $col_light_grey;
    text-transform: uppercase;
    &::after{
        content: " (2)";
    }
}

.user{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    font: {
        size: $size_reg;
        weight: $weight_regular;
    }
    .user_image{
        width: 24px;
    }
    .username{
        color: $col_black;
        padding-left: 16px;
    }
    .usermail{
        color: $col_light_grey;
        padding-left: 12px;
    }
    .add_user{
        display: none;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        path{
            fill: rgba(255,255,255,0.8);;
        }
    }
    &:hover{
        background: $col_accent;
        .username{
            color: white;
        }
        .usermail{
            color: rgba($color: #fff, $alpha: 0.64)
        }
        .add_user{
            display: block;
        }
    }
}

.footer{
    font: {
        size: $size_caption;
        weight: $size_reg;
    }
    color: $col_light_grey;
    background: $col_grey_accent;
    padding: 12px 16px;
    border-radius: 0 0 6px 6px;
    span{
        font-weight: $weight_bold;
    }
}

#background_image{
        z-index: 0;
        height: 100%;
    }





